<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Config>
<Directory>




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</Directory>



<Server name="DICOOGLE-STORAGE">
<IP>127.0.0.1</IP>
<StoragePort>6666</StoragePort>
<QRPort>1045</QRPort>
</Server>

</Config>
